html{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.header_img {
	background: url('./img/photo-1512295767273-ac109ac3acfa\ 1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 35vh;
} 

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header h1 {
	margin: 3vh 3%;
}

.header a {
	margin: 0 3%;
}

.navbar a {
	text-decoration: none;
	color: #000;
	font-size: 20px;
	font-weight: 600;
	margin: 0 20px;
}

.home {
	margin: 10vh 10%;
	font-size: 35px;
	width: 365px;
}

.blog_grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	padding: 3vh 0;
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.blog_item img {
	object-fit: cover;
	width: 100%;
	width: 300px;
	height: 200px;
	border-radius: 15px;
	margin-top: 3vh;
}

.blog_item a {
	color:#fff;
	background-color: darkseagreen;
	text-decoration: none;
	border-radius: 4px;
	padding: 5px 10px;
}

.blog_item_image {
	width: 60%;
	margin: 3vh 0 3vh 40%;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.blog_item_text {
	margin: 2vh 0 3vh 10%;
}

.blog_item_text h2 {
	display: inline;
	margin-right: 80%
}

.blog_item_text p:nth-of-type(1) {
	display: inline;
}

.blog_item_text p:last-child {
	font-weight: 600;
}